<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        {{form.username}}
        <label for="username">email</label>
        {{form.email}}
        <label for="username">password</label>
        {{form.password1}}
        <label for="username">Confirm password</label>
        {{form.password1}}
    <button type="submit">Submit</button>
    {% if form.errors %}
    <div class="alert alert-danger mt-3">
      <strong>Error:</strong> Please correct the following errors.
      <ul>
        {% for field, errors in form.errors.items %}
          {% for error in errors %}
            <li>{{ field|capfirst }}: {{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</body>
</html>